@import '~assets/style/Colors.scss';

.banner-agent{
  background-color: #59687A;
  height: 100vh
}

.banner-helpa{
  background-color: #f290bb;
}

.web{
  display: block;
}
.mobile{
  display: none;
}

@media (max-width: 991px){
  .web{
    display: none;
  }
  .mobile{
    display: block;
  }
}