.btnLeft h1, .btnRight h1{
  writing-mode: vertical-rl;
  font-size: 30px;
  transform: rotate(180deg);
}

.btnLeft{
  position: absolute;
  top: 30%;
  background-color: #f290bb;
  color: #E62D7E;
  padding-top: 30px;
  padding-left: 20px;
  width: 80px;
  padding-bottom: 30px;
  border-radius: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btnRight{
  position: absolute;
  right: 0;
  top: 30%;
  background-color: #59687A;
  color: #34475D;
  padding-top: 30px;
  padding-left: 20px;
  width: 80px;
  padding-bottom: 30px;
  border-radius: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.banner-agent{
  z-index: 10!important;
}



.widthAgent{
  width: 100%;
  height: 'auto';
  margin-top: '5%';
}
.widthFreelance{
  width: 90%;
  height: 'auto';
  margin-top: '10%';
}
.agentRobyn{
  margin-top: 5%;
  width: 19.95%;
  cursor: pointer;
}

.agentPaul{
  margin-top: 5%;
  width: 14.2%;
  cursor: pointer;
}
.agentTrevor{
  margin-top: 5%;
  width: 15.69%;
  cursor: pointer;
}
.agentJohn{
  margin-top: 5%;
  width: 20.53%;
  cursor: pointer;
}
.Agent{
  margin-top: 5%;
  width: 29.53%;
  
}
.Helpa{
  margin-top: 5%;
  width: 30%;
}
.freelanceSarah{
  margin-top: 5%;
  width: 12.25%;
  cursor: pointer;
}
.freelanceAlan{
  margin-top: 5%;
  width: 12.25%;
  cursor: pointer;
}
.freelanceLana{
  margin-top: 5%;
  width: 9.8%;
  cursor: pointer;
}
.freelanceTracey{
  margin-top: 5%;
  width: 9.8%;
  cursor: pointer;
}
.freelanceJohn{
  margin-top: 5%;
  width: 11.85%;
  cursor: pointer;
}
.agentBtn{
  background-color: #34475D;
  color: white;
  font-size: 24px;
  width: 10%;
}
.freelanceBtn{
  background-color: #34475D;
  color: white;
  font-size: 24px;
  width: 10%;
}

/* Tooltip */
.tooltip {
  display:inline!important;
  position:relative!important;
  text-align:left;
  opacity: 1!important;
}

.tooltip .right {
  min-width:200px; 
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;

  z-index: 10!important;
}
.tooltip .left {
  min-width:200px; 
  top:50%;
  right:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;

  z-index: 10!important;
}
.tooltip:hover .right {
  display:block;
}
.tooltip:hover .left {
  display:block;
}
.tooltip{
  z-index: auto!important;
}
.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
  z-index: 10!important;
}
.tooltip .left i {
  position:absolute;
  top:50%;
  left:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
  z-index: 10!important;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  z-index: 10!important;
}


.hidden{
  display: none;
}
.show{
  display: block;
  display: inline;
}
.center{
  justify-content: center!important;
  align-items: center!important;
}
.video{
  height: 400!important;
  width: 300!important;
  border-radius: 50px;
}
.videoHeader {
  margin-top: 25px!important;
  margin-bottom: 25px!important;
  color: #34475D;
}
.videoSubHeader{
  margin-top: 25px!important;
  margin-bottom: 25px!important;
  color: #1a2838;
}
.gridBg{
  background-repeat: no-repeat!important;
  background-position: center!important;
  width: 100%!important;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 25px 0px;
}


@media screen and (max-width:1920px) {

}
@media screen and (max-width:1600px) {

}
@media screen and (max-width:1366px) {

  .tooltip-title{
    font-size: 16px!important;
  }
  .tooltip-desc{
    font-size: 14px!important;
  }
}
@media screen and (min-width:992px) {

}
/* Mobile */
@media screen and (max-width:991px) {
  .mobile-justify-text-center{
    text-align: center;
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width:768px) {

}