.containers{
  /* position: relative; */
  background: linear-gradient(90deg,#59687A 50%,#f290bb 50%);
  width: 100%;
  height: 100vh;
}

.containerLeft{
  background-color: #59687A;
  width: 100%;
}

.containerRight{
  background-color: #f290bb;
  width: 100%;
}

.container-50{
  width: 50%;
  float: left;
}

.subContainer{
  width: 100%;
  display: flex;
  height: 100vh;
}

.container-50.left{
  /* background-color: #59687A; */
  width: 100%;
}

.container-50.right{
  /* background-color: #f290bb; */
  width: 100%;
}


.landing-image.display{
  display: block;
  width: 55%;
  height: auto;
}

#gray{
  right: 6%;
}
#pink{
  left: 6%;
}

.imageLeft{
  position: absolute;
  left: 13%;
  padding: 4%;
}

.imageRight{
  position: absolute;
  padding: 4%;
  left: 43%;
}

.helpaLeft{
  position: absolute;
  left: 28%;
  padding: 4%;
}



/* .textRight{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f290bb;
  width: 5%;
  height: 100vh;
}

.textLeft{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #59687A;
  width: 5%;
  height: 100vh;
} */

.textLeft h1, .textRight h1{
  writing-mode: vertical-rl;
  font-size: 40px;
  transform: rotate(180deg);
}

.textLeft h1{
  color: #34475DAD;
}
.textRight h1{
  color: #E62D7E8A;
}

.textLeft.display, .textRight.display{
  display: block;
}

.textLeft.hidden, .textRight.hidden{
  display: none;
}

.imageRight.display .helpaLeft.display{
  opacity: 1;
  transition: opacity 40s ease-out;
}

.imageRight.hidden .helpaLeft.hidden{
  opacity: 0.2;
  transition: opacity 40s ease-out;
}

.animate{
  width: 5%;
  transition: width 2s;
}

.reverse{
  width: 100%;
  transition: width 2s;
}


@media (max-width: 991px){
  .textLeft, .textRight{
    width: 15%;
  }
  .landing-image{
    width: 70%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 40%;
    z-index: 500;
    transition: transform .2s
  }
  
  .landing-image:hover{
     transform:scale(1.5)
  }
}