body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.web {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 991px) {
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
}
